.viewCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  cursor: pointer;
}

.viewCard + .viewCard {
  margin-left: 10px;
}
.viewCard__item {
  display: flex;
  justify-content: center;
}
.viewCard__title {
  font-weight: 700 !important;
  text-transform: capitalize !important;
}

.viewCard__cases {
  margin-top: 9px !important;
  font-weight: bold !important;
}

.viewCard__total {
  margin-top: 14px !important;
  margin-bottom: -12px !important;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 600 !important;
}

.viewCard__totalNumber {
  color: rgb(134, 128, 128) !important;
  font-size: 11px !important;
  display: flex;
  align-items: flex-end;
  margin-right: 3px;
}

@media (max-width: 600px) {
  .viewCard__title {
    font-size: 14px !important;
  }
  .viewCard__cases {
    font-size: 16px !important;
  }
  .viewCard__total {
    font-size: 11px !important;
  }
}
